.action-buttons {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
}

.delete-btn,
.edit-btn {
    width: 134px;
    height: 55px;
    border: 2px solid #9BA0A6;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.6px;
    cursor: pointer;
    font-family: 'Teko', sans-serif;
    transition: all 0.25s ease-in-out;
}

.delete-btn {
    background: #9BA0A6;
    color: #1B263B;
}

    .delete-btn:hover {
        background: transparent;
        color: #9BA0A6;
        border: 4px solid #9BA0A6;
        transform: translateY(-2px);
    }

.edit-btn {
    background: #9BA0A6;
    color: #1B263B;
}

    .edit-btn:hover {
        background: transparent;
        color: #9BA0A6;
        border: 4px solid #9BA0A6;
        transform: translateY(-2px);
    }
