* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 40px;
    min-height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Header */
.certificate-title {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: #fff;
    margin-bottom: 30px;
    align-self: flex-start;
    margin-left: 40px;
}

/* Certificate Container */
.certificate-container {
    width: 1050px;
    min-height: 500px;
    border-radius: 20px;
    background: #1B263B;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-left: 18px;
}

/* Certificate Item */
.certificate-item {
    margin-top: 80px;
    background: rgba(69, 80, 101, 0.70);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
    flex-direction: column;
    text-align: center;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

    .certificate-item:hover {
        background: rgba(69, 80, 102, 0.85);
        transform: translateY(-4px);
    }

/* Certificate Info */
.certificate-info {
    font-size: 16px;
    text-align: center;
    width: 100%;
}

/* Certificate Name */
.certificate-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

/* Download Button */
.view-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.view-link {
    padding: 10px 20px;
    background-color: #4FC3F7;
    color: black;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
}

    .view-link:hover {
        background: #3FA9F5;
        color: white;
    }

#rptCertificates {
    width: 100%;
}

/* Back Button */
.back-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #9BA0A6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 180px;
    left: 350px;
    transition: 0.3s;
}

.back-icon {
    font-size: 20px;
    color: #1B263B;
    text-align: center;
}

.back-button:hover {
    background: #3FA9F5;
    color: white;
}

.back-icon:hover {
    color: white;
}

#NoCertificatesLabel {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #9BA0A6;
    text-align: center;
    width: auto;
    position: absolute;
    top: 45%;
    left: 48%;
    padding: 10px;
}