* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.spacer {
    flex: 1;
}

h2 {
    letter-spacing: 1px;
}

button, input {
    font-family: inherit;
}
