* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.spacer {
    flex: 1;
}

h2 {
    font-size: 50px;
    letter-spacing: 2.5px;
}

button, input {
    font-family: inherit;
}
